@import url("lightbox.css");
/*
	blog.css
	proportio

	Created by gaspard on 2013-03-05.
*/
body.blog {
  background-image: url('../img/sky.jpg');
  background-color: #c0c0c0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.blog figure {
  margin: 0;
  padding: 0;
}
body.blog figure.icono .spip_logos {
  width: 100%;
}
body.blog .header {
  height: 15%;
}
body.blog .white {
  background-color: #fff;
}
body.blog .white .inner {
  padding: 20px;
  position: relative;
}
body.blog.phome h1 {
  padding-top: 100px;
}
body.blog .brand a span {
  display: none;
}
body.blog .label,
body.blog .badge {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  font-weight: normal;
}
body.blog h1 {
  padding-top: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}
body.blog h1 a {
  color: inherit;
}
body.blog h1 a:hover {
  text-decoration: none;
}
body.blog h1 span {
  font-weight: normal;
}
body.blog h2,
body.blog h3 {
  font-size: 14px;
}
body.blog h2 a {
  color: inherit;
}
body.blog h4 {
  font-weight: normal;
  color: #ccc;
}
body.blog .titraille {
  position: relative;
  padding: 1em 0;
}
body.blog .titraille h2 {
  line-height: 1em;
  margin: 0;
}
body.blog .titraille .author {
  margin: 0;
}
body.blog .white.paginated .readme {
  display: none;
}
body.blog .white .date {
  font-size: 10px;
  position: absolute;
  margin-top: 15px;
  left: -70px;
  background-color: #000;
  color: #e6e6e6;
  padding: 2px 10px;
  text-transform: uppercase;
  display: none;
}
body.blog .white .date a {
  color: #e6e6e6;
  font-weight: normal;
}
body.blog .white .date a:hover {
  color: #ffffff;
  text-decoration: none;
}
body.blog .inner {
  border-bottom: 1px solid #eee;
}
body.blog .comments .comments-ul {
  margin-left: 100px;
}
body.blog .comments .comments-ul .comment-li {
  list-style-type: none;
  position: relative;
  margin-bottom: 20px;
}
body.blog .comments .comment-meta a.permalink {
  border: 0;
  top: -0.2em;
  text-decoration: none;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  color: #eee;
  z-index: 1;
  float: right;
}
body.blog .comments .comment-meta .reviewer {
  z-index: 2;
}
body.blog .comments .comment-meta .avatar {
  position: absolute;
  left: -100px;
  top: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 1px 0px #ccc;
  box-shadow: 0px 0px 1px 0px #ccc;
}
body.blog .comments .comment-meta .item {
  display: none;
}
body.blog .formulaire_forum ul,
body.blog .custom_form ul {
  margin: 0;
  padding: 0;
}
body.blog .formulaire_forum ul li,
body.blog .custom_form ul li {
  list-style-type: none;
}
body.blog .formulaire_forum textarea,
body.blog .custom_form textarea {
  width: 95%;
}
body.blog .formulaire_forum p.boutons,
body.blog .custom_form p.boutons {
  text-align: right;
}
body.blog .previsu .comment-meta img {
  display: none;
}
body.blog.auteur dt {
  margin-top: 1em;
}
body.blog.auteur dt.active a {
  color: #000;
}
body.blog .explication.saisie_texte_info,
body.blog .explication.gravatar_info_forum {
  display: none;
}
body.blog article .texte {
  /* Tableaux */

  /* Logos, documents et images */

}
body.blog article .texte table.spip {
  max-width: 99%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: normal;
}
body.blog article .texte table.spip caption {
  caption-side: top;
  /* bottom pas pris en compte par IE */
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}
body.blog article .texte table.spip tr.row_first {
  background: #fff;
}
body.blog article .texte table.spip tr.row_odd {
  background: #f0f0f0;
}
body.blog article .texte table.spip tr.row_even {
  background: #e0e0e0;
}
body.blog article .texte table.spip th,
body.blog article .texte table.spip td {
  padding: 0.20em 0.40em;
  text-align: left;
  border: 1px solid #ccc;
}
body.blog article .texte table.spip th {
  vertical-align: bottom;
  font-weight: bold;
}
body.blog article .texte table.spip td {
  vertical-align: top;
}
body.blog article .texte table.spip td.numeric {
  text-align: right;
}
body.blog article .texte img,
body.blog article .texte .spip_logos {
  margin: 0;
  padding: 0;
  border: 0;
}
body.blog article .texte .spip_documents {
  text-align: center;
  line-height: normal;
}
body.blog article .texte .spip_documents p {
  margin: 0.10em;
  padding: 0;
}
body.blog article .texte .spip_documents_center {
  display: block;
  clear: both;
  width: 100%;
  margin: 1em auto;
}
body.blog article .texte .spip_documents_left {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}
body.blog article .texte .spip_documents_right {
  float: right;
  margin-left: 15px;
  margin-bottom: 5px;
}
body.blog article .texte .spip_doc_titre {
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 0.90em;
}
body.blog article .texte .spip_doc_descriptif {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.90em;
}
