/*
	blog.css
	proportio

	Created by gaspard on 2013-03-05.
*/

@white: #fff;
@light: darken(@white,10);

body.blog{
	// basic styles
	
	background-image: url('../img/sky.jpg');
	background-color:#c0c0c0;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	figure{
		margin:0;padding:0;
	}
	
	.header{
		height:15%;
	}
	.white{
		background-color:#fff;
	}
	.white .inner{
		padding:20px;
		position:relative;
	}
	&.phome h1{
		padding-top:100px;
	}
	
	.brand a span{
		display:none;
	}
	.label, .badge{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		text-shadow: none;
		font-weight:normal;
	}
	h1{
		padding-top:30px;
		font-weight:bolder;
		text-transform:uppercase;
		a{
			color:inherit;
			&:hover{
				text-decoration:none;
			}
		}
	}
	h1 span{
		font-weight:normal;
	}
	h2,h3{
		font-size:14px;
	}
	h2 a{
		color:inherit;
	}
	h4{
		font-weight:normal;
		color:#ccc;
	}
	.titraille{
		position:relative;
		padding:1em 0;
		h2{
			line-height:1em;
			margin:0;
		}
		.author{
			margin:0;
		}
	}
	.white.paginated .readme{
		display:none;
	}
	.white .date{
		font-size:10px;
		position:absolute;
		margin-top: 15px;
		left:-70px;
		background-color:#000;
		color:@light;
		padding:2px 10px;
		text-transform:uppercase;
		display:none;
		a{
			color:@light;
			font-weight:normal;
			&:hover{
				color:@white;
				text-decoration:none;
			}
		}
	}
	.inner{
			border-bottom:1px solid #eee;
	}
	
	.comments{
		.comments-ul{
			margin-left:100px;
			
			.comment-li{
				list-style-type: none;
				position:relative;
				margin-bottom:20px;
			}
		}
		.comment-meta{
			a.permalink{
				border: 0;
				top:-.2em;
				text-decoration: none;
				font-size: 2.2em;
				font-weight: bold;
				line-height: 1;
				vertical-align: middle;
				color: #eee;
				z-index:1;
				float:right;
			}
			.reviewer{
				z-index:2;
			}
			.avatar{
				position: absolute;
				left: -100px;
				top: 0;
//				border-radius: 1em;
				border-radius: 2px;
//				border:1px solid #ccc;
				-webkit-box-shadow: 0px 0px 1px 0px #ccc;
				box-shadow: 0px 0px 1px 0px #ccc;
			}
			.item{
				display:none;
			}
			
		}
	}
	.formulaire_forum{
		ul{
			margin:0;
			padding:0;
			li{
				list-style-type:none;
			}
		}
		textarea{
			width:95%;
		}
		p.boutons{
			text-align:right;
		}
	}
	.previsu{
		.comment-meta{
			img{
				display:none;
			}
		}
	}
	&.auteur{
		dt{
			margin-top:1em;
			&.active a{
				color:#000;
			}
		}
	}
	.explication.saisie_texte_info, .explication.gravatar_info_forum{
		display:none;
	}

}
@import url("lightbox.css");