/*
   main.css
   proportio
   
   Created by gaspard on 2013-02-01
*/

/* main */
.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;

	background: url(../img/container-bg.jpg) repeat 50% 0;
}


.container {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;

}

.container .slider {
	width: 100%;
	height: 100%;
}

.container .slider .item {
	float: left;
	width: 100%;
	height: 100%;
}
.container .slider .item.first{
	box-shadow: 0 3px 10px -4px #000,  0 -3px 10px -4px #000;
}
.container .slider .item.last{
	box-shadow: 0 3px 10px -4px #000,  0 -3px 10px -4px #000;
}
.container .slider .item2 {
}

/* inside item*/
.slider .item .page{
	margin-left:66.1%;
	width:34%;
	background: transparent url(http://proportio.site/squelettes/img/pix50.png) repeat scroll top left;
	height:100%;
}

.slider .item .page .content{
	bottom:0px;
	max-width:320px;/*
		TODO use hack here
	*/
}

.slider .item .page .content .inner{
	padding:30px;
	color:#fff;
}


#nav .right a,#nav .left a{
	position:fixed;
	z-index:1000;
	top:40%;
	width:89px;
	height:135px;
	background: transparent no-repeat scroll top left;
	cursor:pointer;
	cursor:hand;
}
#nav .right a{
	right:10px;
	background-image:url(../img/arr_right.png);
}
#nav .left a{
	left:10px;
	background-image: url(../img/arr_left.png);
}


#menu{
	width:600px;
	font: normal normal normal 11pt Arial, sans-serif;
	/* i love when it is 9pt, then 23px top padding*/
	color:#fff;
	position:fixed;
	z-index:100;
}
#menu h1{
	float: left;
    height: 35px;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 130px;
}
#menu h1 a span{display:none;}
#menu ul{
	float: left;
	margin: 0;
	padding: 20px 0 0 0;
	width: 450px;
}
#menu li {
    list-style-type: none;
	display:inline;
}
#menu a{
	color:#fff;
	text-decoration:none;
/*	font-family: "Times New Roman", Times, serif;*/
	height:100px;
}
#menu a:hover{
/*	background-color:pink;*/
	
}


#bullet{
	position:absolute;
	z-index:9;
	top:40px;
	left:100px;
	color:#fff;
	font: normal normal bold 20px Arial, sans-serif;
/*	background-color:pink;*/
}