/*
   main.css
   proportio
   
   Created by gaspard on 2013-02-01
*/

@import url("typo.css?v=2");


/* main */
.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;

	background: url(../img/container-bg.jpg) repeat 50% 0;
}


.container {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;

}

.container .slider {
	width: 100%;
	height: 100%;
}

.container .slider .slide {
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	float: left;
	width: 100%;
	height: 100%;
}
.container .slider .slide.first{
	box-shadow: 0 3px 10px -4px #000,  0 -3px 10px -4px #000;
}
.container .slider .slide.last{
	box-shadow: 0 3px 10px -4px #000,  0 -3px 10px -4px #000;
}

/* inside slide*/

.container .slider .slide .overlay{
	
	position:absolute;
	width:100%;
	height:100%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	display:none;
	
/*
	display none is better than 
	opacity:.0001;
	filter: alpha(opacity=1);
	because i fadeIn()
*/
	z-index:2;
}

.slider .slide .page{
	position:absolute;
	margin-left:66.1%;
	width:34%;
	background: transparent url(../img/pix50.png) repeat scroll top left;
	height:100%;
	z-index:3;
}

.slider .slide .page .content{
	bottom:0px;
	max-width:450px;
	display:none;
	/*
		TODO use hack here
	*/
}

.slider .slide .page .content .inner{
	padding:30px;
	color:#fff;
}


#nav .right a,#nav .left a{
	position:fixed;
	z-index:100;
	top:40%;
	width:20px;
	height:40px;
	background: transparent no-repeat scroll top left;
	cursor:pointer;
	cursor:hand;
}
#nav a span{display:none}
#nav .right a{
	right:5px;
	background-image:url(../img/arr_right.png);
}
#nav .left a{
	left:5px;
	background-image: url(../img/arr_left.png);
}


#menu{
	width:96%;
	position:fixed;
	z-index:99;
}
#menu h1{
	float: left;
    height: 35px;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 130px;
}
#menu h1 a span{display:none;}
#menu ul{
	float: left;
	margin: 0;
	padding: 20px 0 0 0;
	width: 450px;
}
#menu li {
    list-style-type: none;
	display:inline;
}

#menu a{
	text-decoration:none;
/*	font-family: "Times New Roman", Times, serif;*/
	height:100px;
}
#menu a:hover{
/*	background-color:pink;*/
	
}
#menu .lang{
	padding: 20px 0 0 0;
	float:right;
}

#menu .navbar-toggle{
	/*display none*/
}
/* responsive version of the menu
*/
#menu.mini .navbar-toggle{
	position:absolute;
	right:10px;
	padding:10px 5px;
	cursor:pointer;
}
#menu.mini .navbar-toggle:hover{
	background-color:#000;
}
#menu.mini .navbar-toggle .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

#menu.mini .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
#menu.mini ul, #menu.mini .lang{
	position:absolute;
	left:0;

	width:100%;
	background-color:#222;
	display:none;
	float:none;
	margin: 0;	
}
#menu.mini ul{
	top:50px;
	padding: 20px 0;
	
}
#menu.mini li {
	list-style-type: none;
	display:block;
	padding:0 10px;
}
#menu.mini span{
	display:none;
}
#menu.mini li a{
	display:block;
	height:auto;
	font-size:12pt;
	padding:.5em;
	border-bottom:1px solid #ccc;
}
#menu.mini li a:hover{
	background-color:#111;
}
#menu.mini a{
	text-decoration:none;
}
#menu.mini .lang {
	top:0;
	font-size:12pt;
	height:50px;
	padding:0;
}
#menu.mini .lang .inner{
	padding:1em;

}





#bullet{
	position:absolute;
	z-index:9;
	top:40px;
	left:100px;
	color:#fff;
	font: normal normal bold 20px Arial, sans-serif;
/*	background-color:pink;*/
}

