body{
	font: normal normal normal 11pt Helvetica, Arial, sans-serif;
	color:#fff;
}

#menu{
	text-shadow: 0 1px #999;
}
a{
	color:#fff;
	text-decoration:none;
	text-shadow: 0 1px #444;
}


.section{
	background: transparent url(http://proportio.site/squelettes/img/pix50.png) repeat scroll top left;
}


.article figure{
	margin:0;
}
.article figure img{
	width:100%;
}

.article .header{
	padding:5px 0;
}
.article .header h3{
	margin:0;
	padding:5px 10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.article .introduction{
	padding:5px 10px 10px 10px;
}