<!-- precalculing background-image and background-color
	<BOUCLE_fond_home(DOCUMENTS){id_rubrique}{mode=image}{0,1}>
		#SET{color,#LOGO_DOCUMENT||couleur_extraire}
		#SET{small,#LOGO_DOCUMENT||image_reduire{600,300}|extraire_attribut{src}}
		[<div class="background">(#LOGO_DOCUMENT||couleur_extraire)</div>]
		[<div class="small">(#GET{small})</div>]
	</BOUCLE_fond_home>
-->
<div class="slide home" data-id_rubrique="#ID_RUBRIQUE"
	[style="background-image: url('(#GET{small})');"]
	[data-color="(#GET{color})"]>

	<div class="page">
		<div class="content">
			<div class="inner">
				<div class="section blog">
				<BOUCLE_blog(ARTICLES){id_rubrique=5}{!par date}{0,3}>
					<div class="article"><!--article #ID_ARTICLE-->
						<div class="header">[<h3><a href="#URL_ARTICLE">(#TITRE|couper{40})</a></h3>]</div>
[<!--(#COMPTEUR_BOUCLE|=={1})-->
	[<figure class="icono">
		<a  title="[(#TITRE|attribut_html)]"
		href="#URL_ARTICLE">(#LOGO_ARTICLE|image_passe_partout{450,110}|image_recadre{450,110,center}|image_aplatir{jpg,ffffff}|inserer_attribut{'height',''}|inserer_attribut{'alt',[(#TITRE|attribut_html)]})</a>
	</figure>]
	<div class="texte introduction">
		[(#TEXTE|couper{120})]
	</div>
]
					</div><!--/.article #ID_ARTICLE-->
				</BOUCLE_blog>
				</div><!--/.section .blog-->
				<BOUCLE_pin(ARTICLES){id_mot=1}{par num titre, titre}{lang}>
				<div class="section pinned">
					<div class="article">
						<div class="header">
							<h3><a href="#URL_ARTICLE">#TITRE</a></h3>
						</div>
						[<figure class="icono">
							<a  title="[(#TITRE|attribut_html)]"
							href="#URL_ARTICLE">(#LOGO_ARTICLE|image_passe_partout{450,110}|image_recadre{450,110,center}|image_aplatir{jpg,ffffff}|inserer_attribut{'height',''}|inserer_attribut{'alt',[(#TITRE|attribut_html)]})</a>
						</figure>]
					</div><!--/.article-->
				</div><!--/.section .pinned-->
				</BOUCLE_pin>
				
				<INCLURE{fond=partials/social}>
			</div><!--/.inner-->
		</div><!--/.content-->
	</div><!--/.page-->
	<div class="overlay"></div><!--/.overlay-->
</div><!-- /.slide .home-->