<BOUCLE_rubrique(RUBRIQUES){id_rubrique}>
<!--
	<BOUCLE_fond_home(DOCUMENTS){id_rubrique}{mode=image}{0,1}>
		#SET{color,#LOGO_DOCUMENT||couleur_extraire}
		#SET{small_home,#LOGO_DOCUMENT||image_reduire{600,300}|extraire_attribut{src}}
		[<div class="background">(#LOGO_DOCUMENT||couleur_extraire)</div>]
		[<div class="small">(#GET{small_home})</div>]
	</BOUCLE_fond_home>

-->
[
<div class="slide home" data-id_rubrique="#ID_RUBRIQUE"
	[style="background-image: url('(#GET{small_home})');"]
	[data-color="(#GET{color})"]>

	<div class="page">
		<div class="content">
			<div class="inner">
				<div class="section">
					<div class="article">
						<div class="header">
							<h3><a href="#URL_ARTICLE">#TITRE</a></h3>
						</div>
						<div class="texte">(#TEXTE)</div>
					</div><!--/.article-->
				</div><!--/.section-->
			</div><!--/.inner-->
		</div><!--/.content-->
	</div><!--/.page-->
	<div class="overlay"></div><!--/.overlay-->
</div>
]

<B_articles>
<BOUCLE_articles(ARTICLES){id_rubrique}>
<!--
	<BOUCLE_fond(DOCUMENTS){id_article}{mode=image}{0,1}>
		#SET{color,#LOGO_DOCUMENT||couleur_extraire}
		#SET{small,#LOGO_DOCUMENT||image_reduire{600,300}|extraire_attribut{src}}
		[<div class="background">(#LOGO_DOCUMENT||couleur_extraire)</div>]
		[<div class="small">(#GET{small})</div>]
	</BOUCLE_fond>

-->
<div class="slide article art#ID_ARTICLE" data-id_article="#ID_ARTICLE"
	[style="background-image: url('(#GET{small})');"]
	[data-color="(#GET{color})"]>
	<div class="page">
[		<div class="content">
			<div class="inner">
				<div class="section">
					<div class="article">
						<div class="header">
							<h3><a href="#URL_ARTICLE">#TITRE</a></h3>
						</div>
						<div class="texte">(#TEXTE)</div>
					</div><!--/.article-->
				</div><!--/.section-->
				<INCLURE{fond=partials/pin}>
				<INCLURE{fond=partials/social}>
			</div><!--/.inner-->
		</div><!--/.content-->
]
	</div><!--/.page-->
	<div class="overlay"></div><!--/.overlay-->
</div><!--/.slide art#ID_ARTICLE-->
</BOUCLE_articles>
</B_articles>
<//B_articles>
</BOUCLE_rubrique>
