body {margin:0; overflow:hidden;}

.grid,
.grid > .row	{display:block; height:100%;}
.grid > .row 	{white-space:nowrap;}
.grid > * > .cell	{display:inline-block; width:100%; height:100%; overflow:auto;}

.grid * * * {display:static; width:auto; height:auto; white-space:normal;}